<!DOCTYPE html>
<html>

<head>
  <title>Hierarchy - Partition</title>
  <script type="text/javascript" src="../scripts/d3/d3.min.js"></script>
  <style type="text/css">
  .nodeText {
    writing-mode: tb;
    font-size: 16px;
  }
  </style>
</head>

<body>
  <script type="text/javascript">
  var width = 800, height = 600;

  var svg = d3.select("body")
    .append("svg")
    .attr({
      "width": width,
      "height": height
    });

  // 2014 台北市市長選舉統計
  d3.json("http://www.json-generator.com/api/json/get/csqbcMUFSG?indent=2", function(error, data) {

    // 矩形階層圖: d3.layout.partition()
    // size 指定圖案大小, 利用 .nodes 帶入資料
    var nodes = d3.layout.partition()
      .size([800, 600])
      .nodes(data);

    var color = d3.scale.category20();

    // 將生成好的 nodes 透過 data() 帶入
    var gRects = svg.selectAll("g")
      .data(nodes)
      .enter()
      .append("g");

    // 加入 rect
    gRects.append("rect")
      .attr({
        "x": function(d) {
          return d.x;
        },
        "y": function(d) {
          return d.y;
        },
        "width": function(d) {
          return d.dx;
        },
        "height": function(d) {
          return d.dy;
        }
      })
      .style({
        "stroke": "#fff",
        "fill": function(d) {
          return color((d.children ? d : d.parent).name);
        }
      });


    // 加入文字
    gRects.append("text")
      .attr({
        "class": "nodeText",
        "x": function(d) {
          return d.x;
        },
        "y": function(d) {
          return d.y;
        },
        "dx": 20,
        "dy": 20
      })
      .text(function(d, i) {
        return d.name;
      });

  });
  </script>
</body>

</html>
