<!DOCTYPE html>
<html>

<head>
  <title>Hierarchy - Partition</title>
  <script type="text/javascript" src="../scripts/d3/d3.min.js"></script>
  <style type="text/css">
  .nodeText {
    font-size: 16px;
  }
  </style>
</head>

<body>
  <script type="text/javascript">
  var width = 700;
  var height = 700;
  var radius = 300;

  var svg = d3.select("body")
    .append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(330, 300)");

  var arc = d3.svg.arc()
    .startAngle(function(d) {
      return d.x;
    })
    .endAngle(function(d) {
      return d.x + d.dx;
    })
    .innerRadius(function(d) {
      return Math.sqrt(d.y);
    })
    .outerRadius(function(d) {
      return Math.sqrt(d.y + d.dy);
    });

  // 2014 台北市市長選舉統計
  d3.json("http://www.json-generator.com/api/json/get/csqbcMUFSG?indent=2", function(error, data) {

    // 矩形階層圖: d3.layout.partition()
    // size 指定圖案大小, 利用 .nodes 帶入資料
    var nodes = d3.layout.partition()
      .size([2 * Math.PI, radius * radius])
      .nodes(data);

    var color = d3.scale.category20();

    var gArcs = svg.selectAll("g")
      .data(nodes)
      .enter()
      .append("g");

    // 圆中心的弧不畫
    gArcs.append("path")
      .attr("display", function(d) {
        return d.depth ? null : "none";
      })
      .attr("d", arc)
      .style("stroke", "#fff")
      .style("fill", function(d) {
        return color((d.children ? d : d.parent).name);
      });

    // 文字
    gArcs.append("text")
      .attr("class", "nodeText")
      .attr({
        "dx": "-1.53em",
        "dy": "0.35em"
      })
      .attr("transform", function(d, i) {
        // 中心點無需旋轉
        if (i !== 0) {
          // 旋轉角度
          var r = d.x + d.dx / 2;
          // 超過 180° 的文字調整角度，防止文字是倒的
          var angle = Math.PI / 2;
          r += r < Math.PI ? (angle * -1) : angle;
          r *= 180 / Math.PI;

          return "translate(" + arc.centroid(d) + ")" + "rotate(" + r + ")";
        }
      })
      .text(function(d, i) {
        return d.name;
      });

  });
  </script>
</body>

</html>
